@use 'sass:math';
@use 'mixin';

:root {
	--title-font: 'Readex Pro', sans-serif;
	--main-font: 'Readex Pro', sans-serif;
	
	--accent: #DF9033;
	--accent-hover: #D17911;
	--accent-active: #D17911;

	--primary: #F5F5F5;
	--secondary: #2494AC;
	--secondary-hover: #158299;
	--secondary-active: #0e7286;
	--tertiary: #CCCCCC;
	--text-color: #111111;

	--white: #FFF;
	--black: #000;

	--container-padding: 15px;
	--border-thickness: 1px;
}

html {
	font-size: 16px;
	min-height: 100%;
	min-width: 320px;

	background: var(--primary);

	@-moz-document url-prefix() {
		scrollbar-color: var(--secondary) var(--primary);
	}
}

body {

	display: flex;
	flex-direction: column;

	min-height: 100%;
	min-width: 320px;

	font-family: var(--main-font);
	font-weight: 400;
	line-height: 150%;
	font-size: 1rem;

	background: var(--primary);

	overflow: hidden;

	&::-webkit-scrollbar {
		background: var(--primary);
	}

	&::-webkit-scrollbar-track {
		background: var(--primary);
	}

	&::-webkit-scrollbar-thumb {
		background: var(--secondary);
		border: 4px solid var(--primary);
		border-radius: 8px;
	}

	&.is-mobile-menu-active {
		overflow: hidden;
	}
	
}

.image-aspect-ratio {
	width: 100%; height: auto;
	@supports (aspect-ratio: 1) {
		aspect-ratio: var(--aspect-ratio);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0; visibility: hidden;
	}
	to {
		opacity: 1; visibility: visible;
	}
}

section {
	position: relative;
	z-index: 2;

	opacity: 1; visibility: visible;
	transition: opacity .3s, visibility .3s;

	&.to-hidden {
		opacity: 0; visibility: hidden;
	}
}

body.is-init {
	overflow: auto;
}

body.is-init #root {
	opacity: 1 !important;
}

body.is-init.is-hidden #root {
	opacity: 0.0001 !important;
}

body.is-logged #root {
	display: grid;
	grid-template-columns: 11.25rem calc(100% - 11.25rem - 6.25rem);
	gap: 0 6.25rem;

	padding: 0.625rem;

	transition: grid-template-columns .4s, opacity .3s;
}

body.is-logged.slim-nav-mode #root {
	grid-template-columns: 6.3125rem calc(100% - 6.25rem - 6.3125rem);
}

#root {
	flex: 1 1 auto;

	display: flex;
	flex-direction: column;

	transition: opacity .3s;
}

.main {
	position: relative;

	flex: 1 0 auto;

	display: flex;
	flex-direction: column;

	//overflow: hidden;

	&__inner {
		flex: 1 1;
		display: grid;

		padding-right: 5.375rem;

		> * {
			grid-area: 1/1;

			display: flex;
			flex-direction: column;

			min-height: 100%;
		}
	}

	&.is-full {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&.is-full &__inner {
		padding-right: 0;
	}
}

$container: 1440;

/* .container, section {
	padding-left: var(--container-padding);
	padding-right: var(--container-padding);
	
	@media (min-width: #{$container}px) {
		padding-left: max(var(--container-padding), calc(50% - #{math.div($container, 2)}px));
		padding-right: max(var(--container-padding), calc(50% - #{math.div($container, 2)}px));
	}
} */

.visually-hidden {
	position: absolute;
	width: 1px; height: 1px;
	margin: -1px; padding: 0;
	border: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.visible-on-mob {
	@media (min-width: 992px) {
		display: none !important;	
	}
}

.visible-on-desktop {
	@media (max-width: 991px) {
		display: none !important;
	}
}

[aria-hidden="true"] {
	pointer-events: none; user-select: none;
}

.dashboard-block {
	background: linear-gradient(107.51deg, #FFFFFF 0%, #FBFAFA 100.01%);
	border-radius: 1.5625rem;

	color: var(--text-color);
}

.react-select__control.react-select__control--menu-is-open {
	z-index: 2;
}
